
.header{
    background-color:#1A1D60 ;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100vw;
    height: 8em;
}

.logo{
    width: 8em;
    position: absolute;
    left: 2%;
}

.burgerMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 5%;
    top: 35%;
}

.burgerMenu-content{
    margin: 4px 4px 4px 4px;
    width: 2.5em;
    background-color: white;
    height: 2px;
}

.burgerMenuOpen{
    height: 20em;
    background-color: #1A1D60;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100vw;
}

.burgerMenuOpenLink{
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin: 30px 5px 5px 20px;
    font-family: 'Montserrat', sans-serif;
}

.burgerMenuOpenWhite{
    height: 2px;
    width: 100vw;
    background-color: white;
    position: absolute;
    bottom: 0;
}