<div>Some tags before</div>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide><img src="..\assets\465a71211bf7184af9e3a540a6723dd5.jpg" alt=""></ng-template>  
  <ng-template carouselSlide><img src="..\assets\9782811650520_cg.jpg" alt=""></ng-template>  
  <ng-template carouselSlide><img src="..\assets\vr.jpg" alt=""></ng-template> 
  <ng-template carouselSlide><img src="..\assets\S0-les-trottinettes-electriques-bientot-integrees-au-code-de-la-route-172014.jpg" alt=""></ng-template>  
  <ng-template carouselSlide><img src="..\assets\ario dodo.JPG" alt=""></ng-template>   
</owl-carousel-o>
<div>Some tags after</div>

